{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>My Profile</h1>
            
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Account Information</h5>
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Member Since:</strong> {{ user.date_joined|date:"F d, Y" }}</p>
                    
                    <a href="{% url 'accounts:logout' %}" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
